doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tuthree
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Tuthree onlineclass 
        main
            div#welcome
                form
                    input(placeholder="아이디", required, type="text")
                    input(placeholder="비밀번호", required, type="password")
                    button 입장하기
            div#call
                div#myScreen
                    button#screen 화면 공유
                    //video#myScreenVideo(autoplay,playsinline, width="800", height="800")
                    video#peerScreen(autoplay,playsinline, width="800", height="800")
                div#myStream
                    video#peerFace(autoplay,playsinline,width="400", height="400")
                    video#myFace(autoplay,playsinline,width="200", height="200")
                    button#mute 음소거 해제
                    button#camera 카메라 켜기
                    select#cameras
                    
                

                    
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
